
<h2>Listing Flexifield Definition Entries</h2>
<div class="parent_tag rounded">
<%= render :partial => 'list', :locals => {:fdelist => true, :fdes => @flexifield_def_entries, :fd => @flexifield_def} %>
</div>



